<div class="card mb-4">
  <div class="card-header d-flex">
    {{author.username}}
    <span class="ms-auto">Posted on {{renderDate createdAt}}</span>
  </div>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
  </div>
</div>