<div class="card mb-4">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{author.username}}</h5>
    <p class="card-text">{{content}}</p>
    {{#if viewButton}}
      <a href="/posts/{{id}}" class="btn btn-primary">View full post</a>
    {{/if}}
  </div>
</div>