<div class="card mb-4">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{author.username}}</h5>
    <p class="card-text">{{content}}</p>
    <a href="#" class="btn btn-primary">Link to the actual post</a>
  </div>
</div>