<h2>New Post</h2>
<form id="createPostForm">
  <div class="mb-3">
    <input type="text" class="form-control" id="title" placeholder="Title" />
  </div>
  <div class="mb-3">
    <textarea
      class="form-control"
      id="content"
      rows="10"
      placeholder="Post Content"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Create Post</button>
</form>