<div class="list-group mb-4">
  {{#each posts}}
    <a
      href="/posts/{{id}}/edit"
      class="list-group-item list-group-item-action d-flex"
    >{{title}}
      <span class="ms-auto">{{renderDate createdAt}}</span></a>
  {{/each}}
</div>
<div class="text-center">
  <a href="/dashboard/new-post" class="btn btn-primary mx-auto">New Post</a>
</div>