{{> post post viewButton=false}}
<h4>Comments</h4>
<hr>
{{#each post.Comments}}
{{> comment}}
{{/each}}
{{#if loggedIn}}
<div class="card mb-4">
    <div class="card-header d-flex">
        New Comment
    </div>
    <div class="card-body">
        <form id="addCommentForm">
            <input type="number" id="id" value="{{post.id}}" class="d-none" />
            <div class="mb-3">
                <textarea class="form-control" id="content" rows="5" placeholder="Comment Content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Comment</button>
        </form>
    </div>
</div>
{{/if}}